header{
    padding:25px;
}
h3{
    color: #E28A8A;
    text-align: left;
    font-family: "Poppins Regular", sans-serif;
    font-size: 30px;
    font-weight: bolder;
    font-style: italic;
    position: relative;
    margin-left: 200px;
    margin-top:50px;
}
img{
    width: 600px;
    height: auto;
    position: fixed;
    left: 500px;
    top: 100px;
}
h3:hover{
    color: #E23F3F;
}
li{
    list-style: none;
}
a:link, a:visited{
    color: #E28A8A;
    text-align: left;
    font-family: "Poppins Regular", sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    position:relative;
    margin-left: 200px;
}
a:hover{
    color: #E23F3F;
}
i{
    color: #E23F3F;
    content: attr(data-button-icon);
    float: right;
    padding-left: 1em;
}
.footer-text{
    letter-spacing: .1px;
    word-spacing: .1px;
    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    width: 100%;
    color: #E23F3F;
    text-align: center;
    font-family: "Poppins Regular", sans-serif;
    font-size: 10px;
    font-weight: lighter;
    font-style: normal;
}

.container {
    display: inline-block;
}
.natureImg {
    display: none;
}
.hover-text:hover ~ .natureImg {
    display: block;
}
.profilesImg {
    display: none;
}
.hover-text:hover ~ .profilesImg {
    display: block;
}
.lifeImg {
    display: none;
}
.hover-text:hover ~ .lifeImg {
    display: block;
}
