h1{
  float: left;
  display: inline;
  margin-left: 1%;
  margin-top: 10%;
  line-height: 150%;
}
.home{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30;
}
a.home:link, a.home:active, a.home:visited {
  color: black;
  text-decoration: none;
}
a.home:hover {
  font-size: 35;
  text-decoration: none;
}
.portfolio{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20;
  color: #E23F3F;
  text-decoration: underline;
  font-weight: normal;
}
.brandwork{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20;
  font-weight: normal;
}
a.brandwork:link, a.brandwork:active, a.brandwork:visited {
  color: black;
  text-decoration: none;
}
a.brandwork:hover {
  font-size: 25;
  text-decoration: none;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-left: 30%;
}
.column{
  flex: 30%;
  max-width: 30%;
  padding: 1% 1%;
}
.column img {
  margin-top: 2%;
  vertical-align: middle;
  width: 100%;
}
.footer-text{
  letter-spacing: .1px;
  word-spacing: .1px;
  position:fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  width: 100%;
  color: #E23F3F;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  font-weight: lighter;
  font-style: normal;
}
.fa-instagram{
  color: black;
  font-size: 36px;
  position: fixed;
  top: 400px;
  right:48%;
}
